*{
    margin: 20px;
}
body {
  background-image: url('Wallpaper\ Spiderman\ for\ mac.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;  /* THIS IS THE KEY! */
  margin: 0;
  padding: 0;
  min-height: 100vh;
}
h1{
    text-align: center;
    color: hsl(0, 0%, 0%)
}
nav{
    display: flex-block;
    text-align: center;   
}
#a{
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    padding: 75px;
}
#a:hover{
    color: darkred;
    text-decoration: underline;
    cursor: pointer;
}
h3{
    text-align: center;
    color: whitesmoke;
    font-style: italic;
    font-weight: bold;
    text-decoration: line-through;
    text-shadow: 5px 5px 5px;
}
img{
    display: block;
    border: 5px solid darkred;
    border-radius: 50px;
    box-shadow: 5px 5px 10px;
    width: 300px;
    float: left;
}
img:hover{
    margin: 5px;
    transform: scale(1.1);
}
p{
    display: block;
    padding: 20px;
    box-shadow: 5px 5px 20px;
    margin: 20px;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    overflow-x: auto;
}
p:hover{
    text-shadow: 5px 5px 20px;
    color: rgb(51, 5, 5);
    transform: scale(1.1) ease;
}
footer{
    text-align: center;
    color: antiquewhite;
}
footer:hover{
    text-shadow: 5px 5px 20px;
    color: rgb(51, 5, 5);
    transform: scale(1.1) ease;
}
#b{
    text-decoration: none;
    color: hsl(0, 0%, 0%);
}
#b:hover{
    text-decoration: underline;
    text-shadow: 5px 5px 20px;
    color: rgb(51, 5, 5);
    transform: scale(1.1) ease;
}